<template name="MainLayout">
	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

			{{> Header }}

			{{> Body }}

			{{> Footer }}

			</div>

		</div>

	</div>
</template>

<template name="Header">
	<div class="masthead clearfix">
		<div class="inner">
			<img src="/logo.png" width="75" style="position: absolute;left: -67px;top: 17px;"><h3 class="masthead-brand">Cover</h3>
			<nav>
				<ul class="nav masthead-nav">
					<li><a href="{{pathFor route='home'}}">Home</a></li>
					<li><a href="{{pathFor route='new'}}">New Content</a></li>
					<li><a href="{{pathFor route='lockbagcreate'}}">New Locked Link</a></li>
				</ul>
			</nav>
		</div>
	</div>
</template>

<template name="Body">
	<div class="inner cover">
		{{> yield}}
	</div>
</template>

<template name="Footer">
	<div class="mastfoot">
		<div class="inner">
			<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
		</div>
	</div>
</template>